{% extends 'base.html' %}

{% block content %}
<br>
<h1> Welcome to Documentation Developer </h1>
<br>
<h4>When it’s about plagiarism, everyone is eager to know the amount of plagiarism in their documents and texts and from which websites they have referred to or copied information from…
    <br> <br> In today’s fast world, there are several texts made by everyone for example – people working in offices, children writing essays, writers creating a story. All of their creative work has to be plagiarism free in order to be used. 
    <br> <br> Writing texts becomes next to impossible without referring to other websites. And if the information taken from other websites is not properly paraphrased, then your texts can be considered as “Plagiarized”. 
    <br> <br> Detecting plagiarism manually in your texts becomes very difficult because there can be multiple websites which one has referred to make his product more informative.
    <br> <br> This is where our website kicks in – Detect Plagiarism and understand how to make your documents or texts plagiarism free. Know whether the product will work depending on the amount of plagiarism in your texts. 
</h4>
<div style="text-align: center;">
<img src="/static/orange_plagiarism.png" alt="Plagiarism image" width="500" height="300" >
</div>
{% endblock %}